html,
body,
#map {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: row;
}

#buttons {
  display: flex;
}

#action-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}

#action-buttons .button {
    background-color: #419210;
}

#panel {
  width: 400px;
  z-index: 100;
  box-shadow: 0px 5px 10px rgba(25, 25, 25, 0.16);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  padding: 24px;
}

#data-list {
  width: 100%;
  margin: 0 auto;
  z-index: 100;
  background-color: #419210;
  color: white;
  border-radius: 16px;
  box-shadow: 0px 5px 10px rgba(25, 25, 25, 0.16);
  overflow-y: scroll;
  padding: 16px 24px;
  border: none;
  font-size: 20px;
  font-weight: 700;
}

#activity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
}

#activity-pic {
    height: 200px;
    width: 100%;
}

.data-list-item:hover {
  background-color: green;
  color: white;
}

.button {
    border-radius: 16px;
    padding: 16px 24px;
    color: white;
    background-color: #333333;
    font-weight: 600;
    text-align: center;
    flex: 1;
}

.button:hover {
    background-color: #555;
    cursor: pointer;
}

.h2-value {
    font-weight: 400;
    color: #419210;
}
